name: API Test Automation

on:
  workflow_dispatch:
    inputs:
      test_scope:
        description: 'Select test scope to run'
        required: true
        default: 'regression'
        type: choice
        options:
          - smoke
          - regression

  schedule:
    - cron: '0 8 * * 1-5'  # По будням в 8:00 UTC

env:
  PYTHON_VERSION: '3.9'
  ALLURE_RESULTS: 'allure-results'
  ALLURE_REPORT: 'allure-report'

jobs:
  api-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt


      - name: Upload JUnit XML results
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: test-results/junit.xml

      - name: Publish test results to GitHub UI
        uses: actions/upload-test-results@v2
        with:
          files: test-results/junit.xml

